.btn-text {
  &:link,
  &:visited {
      font-size: 1.6rem;
      color: black;
      display: inline-block;
      text-decoration: none;
      padding: 3px;
      transition: all .2s;
  }

  &:hover {
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
  }
}