.section-work {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -25vh;
}

.project-one {
  display: flex;
  justify-content: space-evenly;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__info {
    padding: 10rem;
    width: 50%;

    @include respond(tab-port) {
      padding: 2rem;
      width: 100%;
    }
  }




  &__name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-primary;
    margin-bottom: 2rem;
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    color: #4A5B6D;
    margin-bottom: 2rem;
  }

  &__description {
    display: inline-block;
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: .05rem;
    color: #4A5B6D;
    line-height: 2.7rem;
    margin-bottom: 2rem;
  }

  &__screenshots {
    padding: 10rem;
  }

  &__topics {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 200;
    color: #4A5B6D;
    letter-spacing: .05rem;
    line-height: 2.7rem;
    margin-bottom: 3rem;
  }

  &__topic-1 {

  }

  &__topic-2 {

  }

  &--1 {
    height: 30rem;
  }

  &--2 {
    height: 30rem;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


.project-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;

  
  @include respond(tab-port) {
    flex-direction: column;
  }

  &__info {
    padding: 10rem;
    width: 50%;

    @include respond(tab-port) {
      padding: 2rem;
      width: 100%;
    }
  }


  &__name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-primary;
    margin-bottom: 2rem;
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    color: #4A5B6D;
    margin-bottom: 2rem;
  }

  &__description {
    display: inline-block;
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: .05rem;
    color: #4A5B6D;
    line-height: 2.7rem;
    margin-bottom: 2rem;
  }

  &__screenshots {
    padding: 10rem;
  }

  &__topics {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 200;
    color: #4A5B6D;
    letter-spacing: .05rem;
    line-height: 2.7rem;
    margin-bottom: 3rem;
  }

  &__topic-1 {

  }

  &__topic-2 {

  }

  &--1 {
    height: 30rem;
  }

  &--2 {
    height: 30rem;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


.sketch-logo {
  height: 5rem;
  margin-right: 2rem;
}

.sass-logo {
  height: 5rem;
  margin-right: 2rem;
}

.github-logo {
  margin-top: 2rem;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
}


.nodejs-logo {
  height: 5rem;
}

.react-logo {
  height: 5rem;
}